body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

/* Nagłówek */
header {
font-family: 'Italiana';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: 20px;
}

.logo span {
  font-size: 3rem;
}

.logo .blue {
  color: #5f88dc;
}

.view-text {
  margin-left: 20px; 
  margin-top: 35px; 
  font-weight: bold;
  font-size: 18px;
}

/* Ikona menu (burger) */
.menu-icon {
  height: 48px;
  cursor: pointer;
  z-index: 1001;
  color: #5f88dc;
}

/* Menu po prawej */
.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: flex-end;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.menu-overlay.active {
  right: 0;
}

.menu-content {
  background-color: #8cabf4;
  width: 600px;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-content a {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  width: 100%;
  text-align: center;
}

.menu-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}


  .container {
    display: flex;
    /* height: calc(100vh - 62px); wysokość bez header */
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
    align-items: flex-start;
  }

  /* Sidebar */
  .sidebar {
    width: 120px;
    height: fit-content;
    /* height: 80vh; */
    background: #f0f0f0;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;

  }
  .sidebar section {
    background: #ddd;
    border-radius: 15px;
    padding: 10px;
  }
  .sidebar section label {
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  

  
/* My models + My files */

.model-btn {
  padding: 8px 16px;
  margin: 4px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 8px;
}

.model-btn.selected {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
}


.my-models,
.my-files {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.my-models label,
.my-files label {
  font-size: 18px; 
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.myy-models,
.myy-files {
  list-style: none;
  padding: 0;
  margin: 0;
}

.myy-models li,
.myy-files li {
  margin: 4px 0;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.myy-models a,
.myy-files a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 8px;
  border-radius: 8px;
  background: #e0e0e0;
  font-size: 13px;
}

.myy-models a:hover,
.myy-files a:hover {
  background: #ccc;
  color: #000;
}

  /* Main content */
.main-content {
flex: 1;
display: grid;
grid-template-columns: 1fr 2fr;
grid-gap: 20px 40px; /* 20px pionowo, 40px poziomo */
padding-left: 20px;
align-items: center;
}
.video-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

#frame-container {
margin-left: 50px;
background: #ccc;
border-radius: 15px;
padding: 0; 
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 512px; 
box-sizing: border-box;
overflow: hidden;
height: 512px; 
}

  .video-tile  {
background: #ccc;
border-radius: 15px;
padding: 0; /* usuń padding, bo pasek ma mieć pełną szerokość */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 450px; /* wypełnia grid */
box-sizing: border-box;
overflow: hidden;
height: 350px; /* na wypadek zaokrągleń */
position: relative;
}

/* główna zawartość kafelka (video) */
.video-content {
padding: 15px;
text-align: center;
flex-grow: 1;
}

/* podłużny pasek pod kafelkiem */
.video-caption {
width: 100%;
height: 2vh;
background-color: #999; /* np. ciemniejszy szary */
color: white;
font-weight: 600;
text-align: center;
padding: 10px 0;

}
.video-wrapper {
display: flex;
flex-direction: column;
align-items: center;
width: 450px; /* dopasowane do szerokości kafelka */
}

#logout-button {
all: unset; /* wyczyść wszystkie style przeglądarki */
display: block;
width: 100%;
text-align: center;
font-size: 2.4rem;
color: white;
padding: 0;
cursor: pointer;
text-decoration: none;
border: none;
border-bottom: none;
outline: none;
}

/* wrapper */
.sidebars-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
/* Sidebar right */
.sidebar-right {
  width: 200px;
  
  height: fit-content;
  background: #f0f0f0;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}
.sidebar-right section,
.sidebar-tools section {
  background: #ddd;
  border-radius: 15px;
  padding: 10px;
}
.sidebar-right section label,
.sidebar-tools section label {
  font-weight: bold;
  
}
.view-switch, .export, .tools-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.view-switch li, .export li {
  margin: 8px 0;
}

.view-switch a, .export a {
  text-decoration: none;
  color: #333;
  display: block;
  background: #ddd;
  padding: 8px;
  border-radius: 8px;
}

.view-switch a:hover, .export a:hover {
  background: #ccc;
}

/* tools */

.sidebar-tools {
  width: 200px; 
  height: fit-content;
  background: #f0f0f0;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin-left: 20px;
  flex-direction:column;
  gap: 20px;
  font-size: 18px;
}
.tools-list li {
  margin: 8px 0;
  text-decoration: none;
  color: #333;
  display: block;
  background: #ddd;
  padding: 8px;
  border-radius: 8px;
}
.tools-list li:hover {
  background: #ccc;
}
.tools-list li.eroded {color: green;}
.tools-list li.missing {color: goldenrod;}
.tools-list li.short {color: navy;}
.tools-list li.broken {color: brown;}
.tools-list li.artifact {color: purple;}

/* canvas */
#canvas {
  border: 1px solid #ccc;
  background: transparent;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
#mask-canvas{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
#frame-slider {
  display: none;

}

/* container for charts and analysis */

.charts-container {
  grid-column: 1 / -1;
  background: #eee;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  height: 200px;
}