* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    color:darkseagreen;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(126, 114, 205);
    width: calc(100% - 20px);
    height: calc(20vh - 20px);
    text-align: center;
    line-height: calc(20vh - 20px);
    font-size: xx-large;
    font-weight: 900;
}
#content {
    width: calc(100% - 20px);
    height: calc(70vh - 20px);
    display: flex;
    border: 5px solid rgb(0, 0, 0);
    padding: 50px;
}
.left {
    background-color: rgb(216, 227, 204);
    width: 20%;
    height: 100%;
}
.center {
    background-color: rgb(140, 182, 226);
    width:70%;
    height: 100%;
}
.right {
    background-color: rgb(242, 197, 242);
    width: 10%;
    height: 100%;
}
footer {
    border: 5px solid rgb(0, 0, 0);
    width: calc(100% - 20px);
    height: calc(10vh - 20px);
    text-align: center;
}