<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SpermVizz</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  
</head>
<body>
 <header>
    <div class="logo" href="index.html">
      <img src="{{ url_for('static', filename='IMG/sperm.png') }}" alt="Logo">
      <span>Sperm<span class="blue">Vizz</span></span>
    </div>
    <svg id="menuIcon" class="menu-icon" onclick="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="3" y1="12" x2="21" y2="12"/>
      <line x1="3" y1="6" x2="21" y2="6"/>
      <line x1="3" y1="18" x2="21" y2="18"/>
    </svg>
  </header>


<div class="menu-overlay" id="menu">
    <div class="menu-content">
      <div class="menu-close" onclick="toggleMenu()">&times;</div>
      <a href="index.html">STRONA GŁÓWNA</a>
     
      {% if 'username' in session %}  
        <a>     
          <form id="logout-button-form" action="{{ url_for('logout') }}" method="POST">
            <button id="logout-button" type="submit" href="{{url_for('logout') }}">
              WYLOGUJ
            </button>         
          </form>  
        </a>   
        <a href="wideo.html">DODAJ WIDEO</a>
      {% else %}
        <a href="register.html">ZAREJESTRUJ</a>
        <a href="logowanie.html">ZALOGUJ</a>
      {% endif %}        
      
      <a href="#">AUTORZY</a>
    </div>
  </div>

  <div class="container">
    <div class="sidebar">
      <section>
        <!-- <div><strong>Model:</strong></div>
        <div>- model1</div>
        <div>- model2</div> -->
<!-- mojje proby xd -->
        <div class="my-models">
          <label>My models</label>
          <ul class="myy-models">
            {% for model in models %}
              <li><a href="{{ url_for('video_processing', modelname='models/' ~ model) }}" target="_blank">{{ model }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </section>

      

      <section>
        <div class="my-files">
          <label>My files</label>
          <ul class="myy-files">
            {% for file in files %}
              <li><a href="{{ url_for('static', filename='uploads/' ~ file) }}" target="_blank">{{ file }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </div>

    


  <div class="video-list">
    <div class="main-content">
       <div class="video-wrapper">
      <div class="video-tile">oryginal</div>
        <div class="video-caption">Opis 1</div>
    </div>
    <div class="video-wrapper">
      <div class="video-tile">wyjscie modelu 1 </div>
        <div class="video-caption">Opis 2</div>
    </div>
    <div class="video-wrapper">
      <div class="video-tile">wyjscie modelu 2</div>
        <div class="video-caption">Opis 3</div>
      </div>
      <div class="video-wrapper">
      <div class="video-tile">wyjscie modelu 3</div>
        <div class="video-caption">Opis 4</div>
     </div>
    </div>
  </div>
  <div class="sidebars-wrapper">
    <div class="sidebar-right">
      <section>

        <div class="views">
          <label>VIEW OPTIONS</label>
          <ul class="view-switch">
            <li><a href="{{ url_for('interface') }}">Check quality</a></li>
            <li><a href="{{ url_for('compareUI') }}">Compare models</a></li>
            <li><a href="{{ url_for('trackUI') }}">Sperm cell track</a></li>
          </ul>
        </div>

      </section>

      <section>
        <label>EXPORT TO</label>
        <ul class="export">
          <li><a href="{{ url_for('interface') }}">PNG</a></li>
          <li><a href="{{ url_for('interface') }}">JSON</a></li>         
        </ul>
      </section>
    </div>

    <div class="sidebar-tools">
      <section>
        <label>TOOLS</label>
        <ul class="tools-list">
          <li class="eroded">eroded head</li>
          <li class="missing">missing sperm cell</li>
          <li class="short">short tail</li>
          <li class="broken">broken tail</li>
          <li class="artifact">artifact</li>
        </ul>
      </section>
    </div>

  </div>
</div>

<div class="charts-container">
<label>charts and analysis here!</label>

</div>

  <script>
    function toggleMenu() {
      const menu = document.getElementById('menu');
      const icon = document.getElementById('menuIcon');
      if (menu.classList.contains('active')) {
        menu.classList.remove('active');
        icon.style.display = 'block';
      } else {
        menu.classList.add('active');
        icon.style.display = 'none';
      }

    }
  </script>
</body>
</html>